@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --color-background: #ffffff;
    --color-dark-highlight: #373d20;
    --color-highlight: #606c38;
    --color-light-highlight: #808f61;
    --color-highlight-secondary: #4f423b;
    --color-light-highlight-secondary: #766153;
    --color-secondary: #eaeaea;
    --color-tertiary: #808080;
    --color-foreground: #1e1e1e;
    --color-foreground-secondary: #babab5;

    --background-image-hero: radial-gradient(
            circle,
            rgba(0, 0, 0, 0) 40%,
            rgba(22, 22, 22, 1) 75%
        ),
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("/images/hero-background.jpg");
    --background-image-floema-secondary: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("/images/floema-secondary.jpg");
    --background-image-tiny-house-build: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("/images/tiny-houses-build.jpg");
    --background-image-roots: url("/images/our-roots.jpg");
    --background-image-placeholder: url("/images/model-placeholder.jpg");
    --background-image-model-placeholder: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("/images/model-placeholder.jpg");


    --font-*: initial;
    --font-sans: Inter, sans-serif;
    --font-serif: Inter, serif;
    --font-title: Raleway;
}

.bx.hidden {
    display: none !important;
}
